body{
  background-image: linear-gradient(#af95c6, #6dedb3);
  background-size: cover;
  background-repeat: no-repeat;
}
#container{
  max-width: 80%;
  margin: 0 auto;
}
.container{
    display: block;
}

h1{
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  padding: 20px 0;
  color: #fff;
}

p{
  color: #fff;
  font-size: 22px;
  font-family: Roboto;
}

.typo{
  color: #fff;
  font-size: 22px;
  font-family: Roboto;
}

header{
  text-align: center;
}
.imagen{
  width: 150px;
}
.colegio label{
  display: block;
}
select{
  width: 80%;
  height: 30px;
  border-radius: 10px;
  font-family: roboto;
  font-size: 18px;
  color: #999;
}
